@media all{
    div,h2{font-size: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
    :focus{outline: 0;}
    article{display: block;}
    h2{color: #333;padding-bottom: 10px;line-height: 1em;font-weight: 500;}
    h2{font-size: 26px;}
    #main-content{background-color: #fff;}
    .sisu{margin-bottom: 0!important;padding-top: 0;}
    .leht #main-content{background-color: transparent;}
    @media (min-width:981px) {
        .esimene .veerg{margin-right: 5.5%;}
        .esimene .veerg_1_2{width: 47.25%;}
        .esimene .veerg_1_2 .moodul{margin-bottom: 5.82;}
    }
    @media (max-width:479px) {
        .veerg{width: 100%!important;}
    }
}