@media all{
    div,h2{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
    :focus{outline:0;}
    article{display:block;}
    h2{color:#333;padding-bottom:10px;line-height:1em;font-weight:500;}
    h2{font-size:26px;}
    #main-content{background-color:#fff;}
    .sisu{margin-bottom:0!important;padding-top:0;}
    .leht #main-content{background-color:transparent;}
    @media (min-width:981px){
    .esimene .veerg{margin-right:5.5%;}
    .esimene .veerg_1_2{width:47.25%;}
    .esimene .veerg_1_2 .moodul{margin-bottom:5.82%;}
    }
    @media (max-width:479px){
    .veerg{width:100%!important;}
    }
    *{-webkit-box-sizing:border-box;box-sizing:border-box;color: #fff;}
    .tekst{word-wrap:break-word;}
    .rida{width:80%;max-width:1080px;margin:auto;position:relative;}
    .sisu{position:relative;z-index:1;}
    .veerg{float:left;background-size:cover;background-position:50%;position:relative;z-index:2;min-height:1px;}
    .režiim{mix-blend-mode:unset!important;}
    .veerg,.moodul,.rida{background-size:cover;background-position:50%;background-repeat:no-repeat;}
    .rida:after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0;width:0;}
    .seksioon{background-position:50%;background-size:100%;background-size:cover;}
    .tekst>:last-child{padding-bottom:0;}
    .sisemine_tekst{position:relative;}
    .vasakjoondus{text-align:left;}
    .seksioon{position:relative;background-color:#fff;}
    .rida .veerg.viimane,.rida .veerg:last-child{margin-right:0!important;}
    .moodul{-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-duration:.2s;animation-duration:.2s;}
    @media (min-width:981px){
    .seksioon{padding:4% 0;}
    .rida{padding:2% 0;}
    .seksioon .rida .veerg .moodul:last-child{margin-bottom:0;}
    .rida .veerg.viimane,.rida .veerg:last-child{margin-right:0!important;}
    }
    @media (max-width:980px){
    .veerg{width:100%;margin-bottom:30px;}
    .seksioon{padding:50px 0;}
    .rida{padding:30px 0;}
    .rida .veerg.viimane,.rida .veerg:last-child{margin-bottom:0;}
    .veerg .moodul{margin-bottom:30px;}
    .rida .veerg .moodul:last-child{margin-bottom:0;}
    .rida{max-width:1080px;}
    }
    .klikitav{cursor:pointer;}
    }
    @media all{
    ::-webkit-scrollbar{width:15px;box-shadow:inset 0 0 9px rgba(0,0,0,.1);}
    ::-webkit-scrollbar-thumb{-webkit-border-radius:0;border-radius:0;}
    ::-webkit-scrollbar-thumb{background:rgba(0,0,0,.17);}
    ::-webkit-scrollbar{background:#f4f4f4;}
    }
    .rida{max-width:1920px;}
    @media only screen and (min-width:2400px){
    .rida{padding:48px 0;}
    .seksioon{padding:96px 0;}
    }
    @media only screen and (max-width:767px){
    .seksioon{padding:22px 0;}
    }
    @media screen and (max-width:1541px){
    div.tekst_3 h2{font-size:25px;}
    }
    @media screen and (max-width:1227px){
    div.tekst_3 h2{font-size:30px;}
    }
    @media screen and (max-width:1541px){
    div.tekst_5 h2{font-size:25px;}
    }
    @media screen and (max-width:1227px){
    div.tekst_5 h2{font-size:30px;}
    }
    @media screen and (max-width:1541px){
    div.tekst_0 h2{font-size:30px;}
    }
    @media screen and (max-width:1227px){
    div.tekst_0 h2{font-size:30px;}
    }
    @media screen and (max-width:416px){
    div.tekst_0 h2{font-size:20px;}
    }
    
    .tekst_0 h2{text-transform:uppercase;font-size:33px;color:#ffffff!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
    .tekst_2 h2{text-transform:uppercase;font-size:33px;color:#ffffff!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
    .tekst_6 h2{text-transform:uppercase;font-size:33px;color:#ffffff!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
    .tekst_4 h2{text-transform:uppercase;font-size:33px;color:#ffffff!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
    .tekst_6:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
    .tekst_4:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
    .tekst_0:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
    .tekst_2:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
    .tekst_3 h2{font-family:'Unna',Georgia,"Times New Roman",serif;text-transform:uppercase;text-align:center;}
    .tekst_5 h2{font-family:'Unna',Georgia,"Times New Roman",serif;text-transform:uppercase;text-align:center;}
    .tekst_1 h2{font-family:'Unna',Georgia,"Times New Roman",serif;text-transform:uppercase;text-align:center;}
    .tekst_7 h2{font-family:'Unna',Georgia,"Times New Roman",serif;text-transform:uppercase;text-align:center;}
    .tekst_0{background-blend-mode:multiply;background-color:initial;background-image:url(https://cryberit.com/wp-content/uploads/time-3216244_1920.jpg),linear-gradient(180deg,rgba(0,0,0,0.29) 0%,rgba(63,63,63,0.72) 100%);filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
    .tekst_2{background-blend-mode:multiply;background-color:initial;background-image:url(https://cryberit.com/wp-content/uploads/time-4270427_1920.jpg),linear-gradient(180deg,rgba(0,0,0,0.29) 0%,rgba(63,63,63,0.72) 100%);filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
    .tekst_4{background-blend-mode:multiply;background-color:initial;background-image:url(https://cryberit.com/wp-content/uploads/keyboard-498396_1920.jpg),linear-gradient(180deg,rgba(0,0,0,0.29) 0%,rgba(63,63,63,0.72) 100%);filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
    .tekst_6{background-blend-mode:multiply;background-color:initial;background-image:url(https://cryberit.com/wp-content/uploads/network-3628856_1920.jpg),linear-gradient(180deg,rgba(0,0,0,0.29) 0%,rgba(63,63,63,0.72) 100%);filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
    .tekst_4.moodul{margin-left:auto!important;margin-right:auto!important;}
    .tekst_2.moodul{margin-left:auto!important;margin-right:auto!important;}
    .tekst_0.moodul{margin-left:auto!important;margin-right:auto!important;}
    .tekst_6.moodul{margin-left:auto!important;margin-right:auto!important;}

    @font-face{font-family:'Unna';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCKpXzofN0NOpo7mUnGeFM.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Unna';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCKpXzofN0NOpo7l0nG.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Unna';font-style:italic;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCJpXzofN0NOpozLGzTSXJv_vc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Unna';font-style:italic;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCJpXzofN0NOpozLGzTR3Jv.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Unna';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCEpXzofN0NOpELlVHC.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Unna';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCEpXzofN0NOp8LlQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    @font-face{font-family:'Unna';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCLpXzofN0NMiQugGDjRWpr.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
    @font-face{font-family:'Unna';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/unna/v15/AYCLpXzofN0NMiQugG7jRQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    
    header{position: absolute;width: 100%;left: 0;top: 0;padding: 10px 15px;z-index: 100;background: #0000008e;}
    header.sticky{position: fixed;background-color: #222222;animation: header .5s ease;}
    
    @keyframes header{0%{transform: translateY(-100%);opacity:0}100%{transform: translateY(0%)}}
    header .logo{float: left;}
    header .logo a{font-size: 25px;display: inline-block;padding: 5px 0px;color: #000000;font-weight: 600;letter-spacing: 2px;}
    header .navbar{float: right;}
    header .navbar ul{list-style: none;padding: 0;margin: 0;}
    header .navbar ul li{display: inline;padding: 0 15px;}
    header .navbar ul li a{display: inline-block;padding: 10px 0px;font-size: 16px;text-transform: uppercase;color: #000000;position: relative;}
    header .navbar ul li a::before{content: '';position: absolute;top: 100%;height: 2px;left: 0px;background-color: #000000; width: 0;transition:width .5s ease;}
    header .navbar ul li a.active::before{width: 100%;}
    header .navbar ul li a:hover::before{width: 100%;}
    @keyframes slideLeft{0%{transform: translateX(-100%);opacity: 0;}100%{transform: translateX(0);opacity: 1;}}
    @keyframes slideRight{0%{transform: translateX(100%);opacity: 0;}100%{transform: translateX(0);opacity: 1;}}
    

html{scroll-behavior: smooth;}

header{position: absolute;width: 100%;left: 0;top: 0;padding: 10px 15px;z-index: 100;}
header.sticky{position: fixed;background-color: #222222;animation: header .5s ease;}
@keyframes header{0%{transform: translateY(-100%);opacity:0}100%{transform: translateY(0%)}}
header .logo{float: left;}
header .logo a{font-size: 25px;display: inline-block;padding: 5px 0px;color: #ffffff;font-weight: 600;letter-spacing: 2px;}
header .navbar{float: right;}
header .navbar ul{list-style: none;padding: 0;margin: 0;}
header .navbar ul li{display: inline;padding: 0 15px;}
header .navbar ul li a{display: inline-block;padding: 10px 0px;font-size: 16px;text-transform: uppercase;color: #ffffff;position: relative;}
header .navbar ul li a::before{content: '';position: absolute;top: 100%;margin-top: -5px;height: 2px;left: 0px;background-color: #cacacaa6; width: 0;transition:width .5s ease;}
header .navbar ul li a.active::before{width: 100%;}
header .navbar ul li a:hover::before{width: 100%;}
@keyframes slideLeft{0%{transform: translateX(-100%);opacity: 0;}100%{transform: translateX(0);opacity: 1;}}
@keyframes slideRight{0%{transform: translateX(100%);opacity: 0;}100%{transform: translateX(0);opacity: 1;}}

.trigger-main{position: absolute;top:15px;right:0px;display: none;}
.trigger-main a{display: inline-block;position: relative;z-index: 210;}
.trigger-main a span{display: block;height: 2px;width: 30px;background-color: #ffffff;margin-bottom:8px;transition: transform .5s ease;-webkit-transition: transform .5s ease;}
.trigger-main a span:nth-child(1){transform-origin: left top;}
.trigger-main a span:nth-child(2){transform-origin: left bottom;}
.trigger-main a.active span:nth-child(1){-webkit-transform: rotate(45deg) translateY(-7px);transform: rotate(45deg) translateY(-7px);}
.trigger-main a.active span:nth-child(2){-webkit-transform: rotate(-45deg) translateY(7px);transform: rotate(-45deg) translateY(7px);}

@media(max-width: 991px){
	.trigger-main{display: block;}
	header .container{position: relative;}
    .container{max-width: 750px;}
    .competences .competences-content .card .box h3{min-height:50px;}
    header{position: fixed;background-color: #222222;}
    header .navbar{position: fixed;top:0;right:0;bottom:0;width:180px;background-color: #222222;z-index:200;padding-top:80px;-webkit-transform: translateX(100%);transform: translateX(100%);transition: transform .5s ease;-webkit-transition: -webkit-transform .5s ease;}
    header .navbar.open{-webkit-transform: translateX(0);transform: translateX(0);}
    header .navbar ul li{display: block;}}

/* Avaleht CSS */

@media all{
#main-content2{background-color:#fff;}
.lehe_paigutus .sisu2{margin-bottom:0!important;padding-top:0;}
.leht .lehe_paigutus #main-content2{background-color:transparent;}
@media (min-width:981px){
.sisu_rada .veerg2{margin-right:5.5%;}
.sisu_rada .veerg2_4_4{width:100%;}
.sisu_rada .veerg2_4_4 .moodul2{margin-bottom:2.75%;}
}
@media (max-width:479px){
.veerg2{width:100%!important;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
.tekst2{word-wrap:break-word;}
.rida_2{width:80%;max-width:1080px;margin:auto;position:relative;}
.sisu2_1{position:relative;z-index:1;}
.veerg2{float:left;background-size:cover;background-position:50%;position:relative;z-index:2;min-height:1px;}
.pääs{mix-blend-mode:unset!important;}
.veerg2,.moodul2,.rida_2{background-size:cover;background-position:50%;background-repeat:no-repeat;}
.rida_2:after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0;width:0;}
.seksioon2{background-position:50%;background-size:100%;background-size:cover;}
.tekst2>:last-child{padding-bottom:0;}
.tekst2_sise{position:relative;}
.tekst2_vasak{text-align:left;}
.seksioon2{position:relative;background-color:#fff;}
.rida_2 .veerg2.viimane2,.rida_2 .veerg2:last-child{margin-right:0!important;}
.moodul2{-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-duration:.2s;animation-duration:.2s;}
@media (min-width:981px){
.seksioon2{padding:4% 0;}
.rida_2{padding:2% 0;}
.seksioon2 .rida_2 .veerg2 .moodul2:last-child{margin-bottom:0;}
.rida_2 .veerg2.viimane2,.rida_2 .veerg2:last-child{margin-right:0!important;}
}
@media (max-width:980px){
.veerg2{width:100%;margin-bottom:30px;}
.seksioon2{padding:50px 0;}
.rida_2{padding:30px 0;}
.rida_2 .veerg2.viimane2,.rida_2 .veerg2:last-child{margin-bottom:0;}
.veerg2 .moodul2{margin-bottom:30px;}
.rida_2 .veerg2 .moodul2:last-child{margin-bottom:0;}
.rida_2{max-width:1080px;}
}

.rida_2{max-width:1920px;}
@media only screen and (min-width:2400px){
.rida_2{padding:48px 0;}
.seksioon2{padding:96px 0;}
}
@media only screen and (max-width:767px){
.seksioon2{padding:22px 0;}
}
@media screen and (max-width:1541px){
div.tekst2_0 h2{font-size:40px;}
}
@media screen and (max-width:1227px){
div.tekst2_0 h2{font-size:30px;}
}
@media screen and (max-width:416px){
div.tekst2_0 h2{font-size:20px;}
}

.tekst2_0 h2{text-transform:uppercase;font-size:33px;color:#000000!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
.tekst2_1 h2{text-transform:uppercase;font-size:33px;color:#000000!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
.tekst2_2 h2{text-transform:uppercase;font-size:33px;color:#000000!important;text-align:center;text-shadow:0em 0.1em 0.1em #000000;}
.tekst2_0{background-color:rgba(255,255,255,0.29);position:relative;filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
.tekst2_1{background-color:rgba(255,255,255,0.29);position:relative;filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
.tekst2_2{background-color:rgba(255,255,255,0.29);position:relative;filter:saturate(145%) brightness(114%) contrast(75%);backface-visibility:hidden;padding-top:50px!important;padding-bottom:50px!important;max-width:69%;box-shadow:inset 0px 0px 18px 0px rgba(0,0,0,0.3);transition:box-shadow 300ms ease 0ms;}
.tekst2_0:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
.tekst2_1:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
.tekst2_2:hover{box-shadow:inset 0px 0px 80px 24px rgba(0,0,0,0.76);}
.tekst2_0.moodul2{margin-left:auto!important;margin-right:auto!important;}
.tekst2_1.moodul2{margin-left:auto!important;margin-right:auto!important;}
.tekst2_2.moodul2{margin-left:auto!important;margin-right:auto!important;}
.a_2{color: #000000;}
}